
{% extends 'community/layout.html' %}

{% block ContentView %}
    {% if notifications %}
        <div>
            {% for notification_data in notifications.unread %}
                <a href="{{notification_data.url_redirect}}">
                    <span class="badge badge-pill badge-dark" style="background-color: #2196f3;display: inline-block;">{{notification_data.text}}</span>
                </a>
            {% endfor %}
        </div>
        <br>
    {% endif %}
    <div class="container">
        <h2>All Threads:</h2>
        <br>
        <div class="card-columns">
            {% for card_data in all_cards %}
                <a href="{{ card_data.card_url }}">
                    <div class="card shadow mb-4 text-dark" style="text-decoration: none;">
                        <div class="card-header border-0 bg-white" style="border-radius:2rem;text-decoration: none;">
                            <h2> {{ card_data.card_title }}</h2>
                        </div>
                        <div class="card-body" style="text-decoration: none;">
                            <p class="card-text">{{ card_data.card_text }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <br>
        <!--<h2>Followed Threads: </h2>
        <br>
        <div class="card-columns">
            {% for card_data in all_cards %}
                <a href="{{ card_data.card_url }}">
                    <div class="card shadow mb-4 text-dark" style="text-decoration: none;">
                        <div class="card-header border-0 bg-white" style="border-radius:2rem;">
                            <h2> {{ card_data.card_title }}</h2>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ card_data.card_text }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>-->
    </div>        
{% endblock %}
