{% extends 'community/layout.html' %}

{% block ContentView %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card col-12">
                    <div class="card-header border-0 bg-white d-flex" style="border-radius:1rem;">
                        <img src="{{ profile_image }}" style="width: 80px;height: 80px;border-radius:2rem;max-height:9rem;" >
                        &nbsp&nbsp<strong class="align-self-center w-100">{{ username }}</strong>
                        <div class="dropdown align-self-center">
                            <div role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog flex-shrink-1 align-self-center"></i>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink" style="border-radius:1rem;">
                                <div class="dropdown-header">Settings: </div>
                                <a class="dropdown-item" href="#">Change Password</a>
                                <a class="dropdown-item" href="{% url 'community-profile-edit' %}">Edit Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Support/Help</a>
                            </div>
                        </div>
                        <br><hr>
                    </div>
                    <div class="card-body">
                        <h2> {{ first_name }} {{ last_name }}</h2>
                        <h6> {{ description }} </h6>
                        <br>
                        <h5>Email: {{ email }}</h5>
                        <div class="row">
                            <div class="col">
                                <i class="fas fa-user-friends"></i> <a onclick="show_followers();"> Followers: {{ followers_count }}</a>
                            </div>
                            <div class="col">
                                <a onclick="show_following();"> Following : {{ following_users_count }}</a>
                            </div>
                            <div class="col">
                                <a onclick="show_my_threads();"> My threads : {{ my_threads_count }}</a>
                            </div>
                            <div class="col">
                                <a onclick="show_saved_threads();"> Saved threads : {{ saved_threads_count }}</a>
                            </div>
                        </div>
                        <br>
                    <div>
                </div>
            </div>
        </div>
        <br>
        <div id="followers">
            <h3>Followers: </h3>
            <div class="col">
                <ul class="list-group">
                    {% for user in followers %}
                        <a href="/profile/view/{{ user }}/">
                            <li class="list-group-item text-dark" style="text-decoration: none;">{{ user }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="following">
            <h3>Following: </h3>
            <div class="col">
                <ul class="list-group">
                    {% for user in following_users %}
                        <a href="/profile/view/{{ user }}/">
                            <li class="list-group-item text-dark" style="text-decoration: none;">{{ user }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="my_threads">
            <h3>My Threads: </h3>
            <div class="col">
                <ul class="list-group">
                    {% for thread in my_threads %}
                        <a href="{{ thread.url }}">
                            <li class="list-group-item text-dark" style="text-decoration: none;">{{ thread.title }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="saved_threads">
            <h3>Saved Threads: </h3>
            <div class="col">
                <ul class="list-group">
                    {% for thread in saved_threads %}
                        <a href="{{thread.url}}">
                            <li class="list-group-item text-dark" style="text-decoration: none;">{{ thread.title }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
<script>
    hide_all();
    function show_followers(){
        var status = document.getElementById("followers");
        if (status.style.display === "block"){
            hide_all();
        }else{
            hide_all();
            status.style.display = "block";
        }
    }
    function show_following(){
        var status = document.getElementById("following");
        if (status.style.display === "block"){
            hide_all();
        }else{
            hide_all();
            status.style.display = "block";
        }
    }
    function show_my_threads(){
        var status = document.getElementById("my_threads");
        if (status.style.display === "block"){
            hide_all();
        }else{
            hide_all();
            status.style.display = "block";
        }
    }
    function show_saved_threads(){
        var status = document.getElementById("saved_threads");
        if (status.style.display === "block"){
            hide_all();
        }else{
            hide_all();
            status.style.display = "block";
        }
    }
    function hide_all(){
        document.getElementById("followers").style.display = "none";
        document.getElementById("following").style.display = "none";
        document.getElementById("my_threads").style.display = "none";
        document.getElementById("saved_threads").style.display = "none";
    }
</script>
{% endblock %}