{% extends 'community/layout.html' %}

{% block ContentView %}
<br><br><br><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-0 bg-white">
                        <h3>New Registration</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-light" type="submit" style="width:10%;border-radius:1rem;background-color:#b8b7fa"">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                More content here/ Maybe AD?
            </div>
        </div>        
    </div>
{% endblock %}