{% extends 'community/layout.html' %}
{% block ContentView %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0 bg-white d-flex" style="border-radius:2rem;">
                        <div class="col-11">
                            <h2>{{ title }}</h2>
                            <p>{{ author }}</p>
                        </div>
                        <div class="col">
                            {% if editable %}
                                <div class="dropdown align-self-center">
                                    <div role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-cog flex-shrink-1 align-self-center"></i>
                                    </div>  
                                    <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink" style="border-radius:1rem;">
                                        <div class="dropdown-header">Settings: </div>
                                        <a class="dropdown-item" href="{{ edit_url }}"><i class="fas fa-edit"></i>Edit Thread</a>
                                        {% if private_post %}
                                            <a class="dropdown-item" href="invite/"><i class="fas fa-edit"></i>Generate Token</a>
                                        {% endif %}
                                        <a class="dropdown-item text-danger" onclick="delete_discussion();"><i class="fas fa-trash"></i>Delete Thread</a>
                                    </div>
                                </div>
                            {% else %}
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if not saved %}
                                        <button name="switch" value="true" class="border-0 bg-white" style="text-decoration:none;"><i class="far fa-bookmark"></i></button>
                                    {% else %}
                                        <button name="switch" value="true" class="border-0 bg-white" style="text-decoration:none;"><i class="fas fa-bookmark"></i></button>
                                    {% endif %}
                                </form>  
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <p>{{ content }}</p>
                        <br>
                        <h6>Tags: </h6>
                        <div class="row">
                            {% for tag in tags %}
                                <div><span class="badge badge-pill badge-primary"  style="display: inline-block;">{{ tag }}</span></div>&nbsp
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-0 bg-white" style="border-radius:2rem;">
                        <h4>Comments</h4>
                    </div>
                    <div class="card-body">
                        {% for comment in comments %}
                            <p><strong>{{comment.author}}</strong> - {{comment.description}}</p>
                        {% endfor %}
                        <br>
                        {% if not closed %}
                            <form method="POST" enctype="multipart/form-data" action="#formscroll">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-light" type="submit" style="width:100%;border-radius:1rem;background-color:#91eef5" id="formscroll">Submit</button>
                            </form>
                        {% else %}
                            <h5>Thread Closed</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br>
            <!--<div class="col">
                <div class="card">
                    <div class="card-header border-0 bg-white" style="border-radius:2rem;">
                        <h4>Similar Threads You might like</h4>
                    </div>
                    <div class="card-body">
                        Links to similar thread comes here
                    </div>
                </div>
            </div>-->
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }
        function delete_discussion(){
            $.ajax({
                url: "/ajax-serverside-query/",
                type: "POST",
                data: {"discussion_id": "{{ discussion_id }}", "action":"delete-discussion"},
                success: function(data){
                    var url = data["new_url"];
                    location.href=url;                
                }
            })
        }
    </script>
{% endblock %}