{% extends 'community/layout.html' %}

{% block ContentView %}
<br><br><br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card col-12">
                <div class="card-header border-0 bg-white d-flex" style="border-radius:1rem;">
                    <img src="{{ profile_image }}" class="rounded-circle"style="width: 80px;" >
                     &nbsp&nbsp<strong class="align-self-center w-100">{{ username }}</strong>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if not following %}
                            <button name="follow" value="true" class="btn btn-light" style="border-radius:1rem;background-color: #9dfc99;" >Follow</button>
                        {% else %}
                            <button name="unfollow" value="true" class="btn btn-light" style="border-radius:1rem;background-color: #f89c8c;" >UnFollow</button>
                        {% endif %}
                    </form>  
                </div>
                <div class="card-body">
                    <h2> {{ first_name }} {{ last_name }}</h2>
                    <h6> {{ description }} </h6>
                    <br>
                    <h5>Email: {{ email }}</h5>
                    <div class="row">
                        <div class="col">
                            <i class="fas fa-user-friends"></i> Followers: {{ followers }}
                        </div>
                        <div class="col">
                            Following : 
                        </div>
                        <div class="col">
                            My threads : 
                        </div>
                        <div class="col">
                            Followed threads : 
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>
    <h3>My threads: </h3>
    <div class="card-columns">
        All Threads created come here
    </div>
    <br>
    <h3>Followed Threads: </h3>
    <div class="card-columns">
        All Threads followed come here, excluding my threads
        {{ followed_threads }}
    </div>
</div>

{% endblock %}