<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
        </style>
        <style type="text/css">
            p{
                font-family: 'Montserrat', sans-serif;
            }
        </style>
    </head>
    <body>
        <p>Hey {{ username }},</p>
        
        <p> {{ author }} has invited you to join {{ discussion_name }}. Click on the link {{ private_url }} to view this discussion.</p>
        
        <p> If you face any problems, feel free to contact us at support@popn.ml .We will be happy to help you.</p>
        
        <p>Thank You</p>
        
        <p><strong>Team popN</strong></p>
        <br>
    </body>
</html>