<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
        </style>
        <style type="text/css">
            p{
                font-family: 'Montserrat', sans-serif;
            }
        </style>
    </head>
    <body>
        <p>Hey {{username}},</p>
        
        <p> Your profile has been created successfully. You can access your account on popn.ml .</p>
        
        <p> If you face any problems, feel free to contact us at support@popn.ml .We will be happy to help you</p>
        
        <p>Thank You</p>
        
        <p><strong>Team popN</strong></p>
        <br>
        <img src="https://community.popn.ml/static/popNcroppedblack.png" style="height:5rem"/>
    </body>
</html>